@use '../utilities/variables' as vars;
@use '../utilities/mixin' as mix;

.footer {
  &__title {
    @include mix.flex($justify: flex-start, $gap: 10px);
    @include mix.font(500, 16px, 1.25);
    margin-bottom: 10px;
  }

  &__link {
    @include mix.font(400, 14px, 1.2);

    transition: vars.$transitionAll;

    &:hover,
    &:focus {
      color: vars.$parisWhite;
    }
  }

  &__img {
    max-width: 20px;
    max-height: 20px;
  }

  &__list {
    @include mix.flex($justify: space-between, $gap: 8px, $wrap: wrap);
  }

  &__item {
    @include mix.font(400, 14px, 1.2);
  }
}

@media (min-width: 768px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding-left: 64px;
    padding-right: 64px;
  }
}
