@use '../utilities/mixin' as mix;

.header {
  padding: 24px;
  @include mix.flex($justify: space-between);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-left: 128px;
    padding-right: 128px;
  }
}
