@use '../utilities/variables' as vars;
@use '../utilities/mixin' as mix;
@use '../utilities/placeholder';

.book {
  &__data {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
  }

  &__img {
    max-width: 44px;
    max-height: 44px;
    border-radius: 50%;
  }

  &__text {
    @include mix.font(500, 12px, 1.33, vars.$naturalGray);
    margin-bottom: 4px;
  }

  &__name {
    @include mix.font(500, 16px, 1.5);
  }

  &__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .book {
    &__data {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 40px;
    }
  }
}
