@use '../utilities/variables' as vars;

.icon {
  width: 16px;
  height: 16px;
  color: vars.$summerGreen;
  transition: vars.$transitionAll;

  &__form {
    width: 100%;
    height: 100%;
    color: vars.$woodsmoke;
    transition: vars.$transitionAll;
  }

  &__filter {
    color: vars.$woodsmoke;
  }
}

@media screen and (min-width: 768px) {
  .icon {
    width: 20px;
    height: 20px;

    &__menu {
      display: none;
    }
  }
}

a:hover .icon,
a:focus .icon {
  color: vars.$parisWhite;
}

button:hover .icon,
button:focus .icon {
  color: vars.$parisWhite;
}

button:hover .icon__form,
button:focus .icon__form {
  color: vars.$parisWhite;
}
