@use '../utilities/variables' as vars;
@use '../utilities/mixin' as mix;
@use '../utilities/placeholder';
@use '../utilities/function' as func;

.title {
  &__first {
    margin-bottom: 24px;
    @include mix.font(500, 24px, 1.33);
  }

  &__first--span {
    @extend %flexCenter;
    width: fit-content;
    height: func.calculateHeight(24px);
    padding: 0 3px;
    border-radius: 5px;
    font-style: italic;
    background-color: vars.$summerGreen;
  }
}

@media screen and (min-width: 768px) {
  .title {
    &__first {
      margin-bottom: 32px;
      @include mix.font(500, 48px, 1.16);
    }

    &__first--span {
      height: func.calculateHeight(48px);
    }
  }
}
