$summerGreen: #9fbaae;
$popup: #9fbaae99;
$parisWhite: #cbded3;
$white: #ffffff;
$naturalGray: #8a8a89;
$woodsmoke: #121417;
$woodsmokeAlfa: #121417cc;
$apple: #38cd3e;
$error: rgb(205, 73, 56);
$alabaster: #f8f8f8;
$transitionAll: all 0.3s ease-in-out;
