$summerGreen: #9fbaae;
$popup: #9fbaae99;
$parisWhite: #cbded3;
$white: #ffffff;
$naturalGray: #8a8a89;
$woodsmoke: #121417;
$woodsmokeAlfa: #12141733;
$apple: #38cd3e;
$alabaster: #f8f8f8;
$transitionAll: all 0.3s ease-in-out;
