@use '../../utilities/variables' as vars;
@use '../../utilities/placeholder';
@use '../../utilities/mixin' as mix;

.logo__container {
  @include mix.flex($justify: flex-start, $gap: 10px);
}

.logo__img {
  width: 20px;
  height: 20px;
}

.logo__name {
  @include mix.font(400, 14px, 1.2);
}

@media screen and (min-width: 768px) {
  .logo__img {
    width: 28px;
    height: 28px;
  }

  .logo__name {
    @include mix.font(500, 16px, 1.25);
  }
}
