@use '../../utilities/mixin' as mix;
@use '../../utilities/variables' as vars;

.logo {
  &__link {
    @include mix.flex($justify: flex-start, $gap: 10px);

    &:hover .logo__name,
    &:focus .logo__name {
      color: vars.$summerGreen;
    }
  }

  &__img {
    width: 20px;
    height: 20px;
  }

  &__name {
    @include mix.font(500, 16px, 1.2);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    &__img {
      width: 28px;
      height: 28px;
    }

    &__name {
      @include mix.font(500, 20px, 1.25);
      transition: vars.$transitionAll;
    }
  }
}
