@use '../../utilities/variables' as vars;
@use '../../utilities/mixin' as mix;
@use '../../utilities/placeholder';

.mob {
  &__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: vars.$white;
    padding: 24px;
  }

  &__head {
    @include mix.flex($justify: space-between);
    margin-bottom: 32px;
  }

  &__btn {
    @extend %flexCenter;
    margin-left: auto;
    border: solid 1px vars.$summerGreen;
    border-radius: 4px;
    padding: 0px;

    &:hover,
    &:focus {
      background-color: vars.$summerGreen;
    }
  }
}
