@use '../../utilities/variables' as vars;
@use '../../utilities/placeholder';
@use '../../utilities/mixin' as mix;

.user {
  &__container {
    @include mix.flex($gap: 10px);
  }

  &__btn {
    padding: 0px;
  }

  &__block {
    @extend %flexCenter;
    background-color: vars.$summerGreen;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }

  &__name {
    @include mix.font(700, 20px, 1.25);
  }
}

@media screen and (min-width: 768px) {
  .user {
    &__block {
      width: 28px;
      height: 28px;
    }
  }
}
