@use '../../utilities/variables' as vars;
@use '../../utilities/mixin' as mix;

.levels {
  &__list {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__item {
    padding: 8px 12px;
    border-radius: 35px;

    &:first-child {
      background-color: vars.$summerGreen;
    }
  }

  &__text {
    @include mix.font(500, 14px, 1.14);
  }
}
